.timeline {
  position: relative;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 0.2rem;
  background: black;
  top: 0;
  bottom: 0;
}

.experienceSummary {
  position: relative;
  margin-bottom: 2rem;
  transition: font-size ease-in-out 0.2s;
  color: grey;
}

.experienceSummary:hover {
  font-size: 1.3rem;
  color: black;
  cursor: pointer;
}

.experienceSummary:hover::before {
  width: 8px;
  height: 8px;
  left: -0.15rem;
  box-shadow: 0 0 0 4px black, inset 0 2px 0 rgb(0 0 0 / 8%),
    0 3px 0 4px rgb(0 0 0 / 5%);
  background: white;
  top: 12px;
}

.experienceSummary::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 10px;
  left: -0.05rem;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0 0 4px grey, inset 0 2px 0 rgb(0 0 0 / 8%),
    0 3px 0 4px rgb(0 0 0 / 5%);
  background: black;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
